# LISTs

In [1]:
# A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
print(thislist[1])

banana

In [3]:
# Change Item Value
thislist[2] = "orange"
print(thislist)

['apple', 'banana', 'orange']

In [4]:
# Loop Through a List
for x in thislist:
  print(x)

apple
banana
orange

In [5]:
# Check if Item Exists
anitem = "apple"
if anitem in thislist:
  print("Yes,", anitem,"is in the fruits list")
else:
  print("No,", anitem,"is not in the fruits list")

Yes, apple is in the fruits list

In [6]:
anitem = "blackberry"
if anitem in thislist:
  print("Yes,", anitem,"is in the fruits list")
else:
  print("No,", anitem,"is not in the fruits list")

No, blackberry is not in the fruits list

In [7]:
# List Length
print(len(thislist))

3

In [8]:
# Add Items
thislist.append("watermelon")
print(thislist)

['apple', 'banana', 'orange', 'watermelon']

In [9]:
# To add an item at the specified index, use the insert() method:
thislist.insert(1, "pear")
print(thislist)

['apple', 'pear', 'banana', 'orange', 'watermelon']

In [10]:
# EXTENDING
# The extend() method adds the specified list elements (or any iterable) to 
# the end of the current list.
fruits = ['apple', 'banana', 'cherry']
morefruits = ['watermelon', 'pear', 'orange','grape']

fruits.extend(morefruits)
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'pear', 'orange', 'grape']

In [11]:
# Remove Item
thislist.remove("banana")
print(thislist)

['apple', 'pear', 'orange', 'watermelon']

In [12]:
#  Remove Item-Method 2
# The pop() method removes the specified index, (or the last item if index is not specified):
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [13]:
# The del keyword can also delete the list completely:
del thislist
# print(thislist)   # will give an error message

In [14]:
# The clear() method empties the list:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [15]:
# COPYING A LIST
# You cannot copy a list simply by typing list2 = list1, 
# because: list2 will only be a reference to list1, and changes 
# made in list1 will automatically also be made in list2.
# 
# There are ways to make a copy, one way is to use the built-in List method copy().
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [16]:
# Another way to make a copy is to use the built-in method list().
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [17]:
# sorting (alphebatical order)
thislist = ["watermelon","apple", "cherry", "banana"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'watermelon']

In [18]:
# reverse ordering 
thislist = ["watermelon","apple", "cherry", "banana"]
thislist.reverse()
print(thislist)

['banana', 'cherry', 'apple', 'watermelon']

In [19]:
# COUNTING
names = ["Adam","Michael","Susan","Leo","Adam","Marry","Heather"]
names.count("Adam")

2

In [20]:
# Indexing
# The index() method finds the first occurrence of the specified value.
# The index() method raises an exception if the value is not found.
names = ["Adam","Michael","Susan","Leo","Adam","Marry","Heather"]
names.index("Adam")

0

In [21]:
names.index("Susan")

2

# TUPLEs

In [22]:
# A tuple is a collection which is ordered and unchangeable. 
# In Python tuples are written with round brackets.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [23]:
# Once a tuple is created, you cannot change its values. 
# Tuples are unchangeable!
# You cannot add an item. You cannot extend them.
# You cannot remove an item.
# You can delete them (using del)

In [24]:
# Access Tuple Items (similar to lists)
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [25]:
# Loop Through a Tuple (similar to lists)
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [26]:
# Check if Item Exists (similar to lists)
thistuple = ("apple", "banana", "cherry")
anitem = "apple"
if anitem in thistuple:
  print("Yes,", anitem,"is in this tuple")
else:
  print("No,", anitem,"is not in this tuple")

Yes, apple is in this tuple

In [27]:
thistuple = ("apple", "banana", "cherry")
anitem = "grape"
if anitem in thistuple:
  print("Yes,", anitem,"is in this tuple")
else:
  print("No,", anitem,"is not in this tuple")

No, grape is not in this tuple

In [28]:
# tuple length (similar to lists)
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [29]:
# Counting
names = ("Adam","Michael","Susan","Leo","Adam","Marry","Heather")
names.count("Adam")

2

In [30]:
# Indexing
# The index() method finds the first occurrence of the specified value.
# The index() method raises an exception if the value is not found.
names = ("Adam","Michael","Susan","Leo","Adam","Marry","Heather")
names.index("Adam")

0

In [31]:
#  COPYING A TUPLE
thistuple = ("apple", "banana", "cherry")
newtuple = thistuple
print(newtuple)

('apple', 'banana', 'cherry')

# SETs

In [32]:
# A set is a collection which is unordered and unindexed. 
# In Python sets are written with curly brackets.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [33]:
# Access Items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.
# 
# But you can loop through the set items using a for loop
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
cherry
banana

In [34]:
# and you can ask if a specified value is present in a set, by using the in keyword.
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("grape" in thisset)

True
False

In [35]:
# Get the Length of a Set
# To determine how many items a set has, use the len() method.
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [36]:
# Change Items
# Once a set is created, you cannot change its items, but you can add new items.
# 
# Add Items
# Method-1: To add one item to a set use the add() method.
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

In [37]:
# Add Items
# Method-2: To add more than one item to a set use the update() method.
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'grapes', 'cherry', 'banana', 'mango', 'orange'}

In [38]:
# Remove Item
# To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [39]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [40]:
# What is the difference between remove and discard
#  If the item to remove does not exist, 
# #  remove() will raise an error but
# # discard() will NOT raise an error.

In [41]:
# Remove an item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [42]:
# NOTE THAT: Sets are unordered, so when using the 
# pop() method, you will not know which item that gets removed.

In [43]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [44]:
# the del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}
del thisset

In [45]:
# It is also possible to use the set() constructor to make a set.
thisset = set(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [46]:
#  Copying a set
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'cherry', 'banana'}

In [47]:
# Finding the differences between two sets
# x.difference(y) method return a set that contains the 
# items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
print(z)

{'cherry', 'banana'}

In [48]:
# Removing the items that exist in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) 
print(x)

{'cherry', 'banana'}

In [49]:
# note that the difference() method returns a new set, without the unwanted items,
# difference_update() method removes the unwanted items from the original set.

In [50]:
# Finding the items that exist in two sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) 
print(z)

{'apple'}

In [51]:
# x.intersection_update(y) removes the items that is not present in both x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y) 
print(x)

{'apple'}

In [52]:
# again, the intersection() method returns a new set, without the unwanted items
# intersection_update() method removes the unwanted items from the original set.

In [53]:
# Merging sets
# union() return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y) 
print(z)

{'microsoft', 'apple', 'cherry', 'banana', 'google'}

In [54]:
# Determining whether two sets are completely different
# isdisjoint() return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y) 
print(z)

True

In [55]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.isdisjoint(y) 
print(z)

False

In [56]:
# Determining whether x is a subset of y
# issubset() teturns True if all items set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

True

In [57]:
# issuperset() returns True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y) 
print(z)

True

# DICTIONARIES

In [58]:
# A dictionary is a collection which is unordered, changeable and indexed. 
# In Python dictionaries are written with curly brackets, and they have keys and values.
# 
# There are multiple ways of creating dictionaries
# Method-1
Days_Eng_Ita = {'Monday':'Lunedi',
             'Tuesday':'Martedi',
             'Wednesday':'Mercoledi',
             'Thursday':'Geovedi',
             'Friday':'Venerdi',
             'Saturday':'Saboto',
             'Sunday':'Domenica'
            }

In [59]:
# Method-2
Days_Eng_Ita = dict([
    ('Monday','Lunedi'),
    ('Tuesday','Martedi'),
    ('Wednesday','Mercoledi'),
    ('Thursday','Geovedi'),
    ('Friday','Venerdi'),
    ('Saturday','Saboto'),
    ('Sunday','Domenica')
     ])

In [60]:
# Method-3
Days_Eng_Ita = dict(
    Monday='Lunedi',
    Tuesday='Martedi',
    Wednesday='Mercoledi',
    Thursday='Geovedi',
    Friday='Venerdi',
    Saturday='Saboto',
    Sunday='Domenica'
    )

In [61]:
type(Days_Eng_Ita)

dict

In [62]:
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Geovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [63]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets:
Days_Eng_Ita['Monday']

'Lunedi'

In [64]:
# There is also a method called get() that will give you the same result:
Days_Eng_Ita.get('Monday')

'Lunedi'

In [65]:
#  CHANGING VALUES
# You can change the value of a specific item by referring to its key name.
#
# There is a typo in one of the days: Thursday. It should be Giovedi
# Let's update our library
Days_Eng_Ita['Thursday'] = 'Giovedi'

In [66]:
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Giovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [67]:
# We can also build a dictionary incrementally
person = {}
person['fname'] = 'Jon'
person['lname'] = 'Snow'
person['age'] = 27
person['spouse'] = 'Ygritte'
person['relatives'] = ['Ned', 'Robb', 'Sansa','Arya']
person['pets'] = {'dog': 'Ghost', 'dragon': 'Drogon'}

In [68]:
person

{'fname': 'Jon',
 'lname': 'Snow',
 'age': 27,
 'spouse': 'Ygritte',
 'relatives': ['Ned', 'Robb', 'Sansa', 'Arya'],
 'pets': {'dog': 'Ghost', 'dragon': 'Drogon'}}

In [69]:
person['fname']

'Jon'

In [70]:
person['relatives']

['Ned', 'Robb', 'Sansa', 'Arya']

In [71]:
# Retrieving the values in the sublist or subdictionary requires an additional index or key:
person['relatives'][0]

'Ned'

In [72]:
person['relatives'][-1]

'Arya'

In [73]:
person['pets']['dog']

'Ghost'

In [74]:
# Loop Through a Dictionary
# Print all key names in the dictionary, one by one:
for x in person:
  print(x)

fname
lname
age
spouse
relatives
pets

In [75]:
# Print all values in the dictionary, one by one:
for x in person:
  print(person[x])

Jon
Snow
27
Ygritte
['Ned', 'Robb', 'Sansa', 'Arya']
{'dog': 'Ghost', 'dragon': 'Drogon'}

In [76]:
# You can also use the values() function to return values of a dictionary:
for x in person.values():
  print(x)

Jon
Snow
27
Ygritte
['Ned', 'Robb', 'Sansa', 'Arya']
{'dog': 'Ghost', 'dragon': 'Drogon'}

In [77]:
# Loop through both keys and values, by using the items() function:
for x, y in person.items():
  print(x, y)

fname Jon
lname Snow
age 27
spouse Ygritte
relatives ['Ned', 'Robb', 'Sansa', 'Arya']
pets {'dog': 'Ghost', 'dragon': 'Drogon'}

In [78]:
# Let's change our example dictionary into a more easier one
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [79]:
# Check if Key Exists
key = "model"
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if key in thisdict:
  print("Yes,", key, "is one of the keys in this dictionary")
else:
  print("No,", key, "is not one of the keys in this dictionary")

Yes, model is one of the keys in this dictionary

In [80]:
key = "weight"
if key in thisdict:
  print("Yes,", key, "is one of the keys in this dictionary")
else:
  print("No,", key, "is not one of the keys in this dictionary")

No, weight is not one of the keys in this dictionary

In [81]:
# Dictionary Length (as usual)
# To determine how many items (key-value pairs) a dictionary has, 
# use the len() method.
print(len(thisdict))

3

In [82]:
# Adding Items
# Adding an item to the dictionary is done by using a new index key
# and assigning a value to it:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [83]:
# We can also use update()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2019
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2019, 'color': 'White'}

In [84]:
# Removing Items
# There are several methods to remove items from a dictionary.
# Method-1: The pop() method removes the item with the specified key name
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [85]:
# The popitem() method removes a random item!
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [86]:
# Removing an item with a specific key
# The del keyword removes the item with the specified key name:

In [87]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [88]:
# The del keyword can also delete the dictionary completely:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict

In [89]:
# The clear() keyword empties the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [90]:
#  Copying a Dictionary
# Same as lists, You cannot copy a dictionary simply by typing dict2 = dict1,
# because: dict2 will only be a reference to dict1, and changes made in dict1 
# will automatically also be made in dict2.
# 
# There are various ways to make a copy, 
# one way is to use the built-in Dictionary method copy().
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [91]:
# Another way to make a copy is to use the built-in method dict().
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [92]:
# Creating a dictionary with keys and a value
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'
vowels = dict.fromkeys(keys, value)
print(vowels)

{'e': 'vowel', 'o': 'vowel', 'i': 'vowel', 'u': 'vowel', 'a': 'vowel'}

In [93]:
# Key-value pairs
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [94]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [95]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])