Welcome to UMBC! By choosing "Markdown" as the cell type from the top list, you can put some explanations here
(To edit, double click) (To run, shift+enter)

## Commenting

In [1]:
# In a cell, when you put the "#" character, the rest is accepted as comment
# This is a comment
# This is another comment.

In [2]:
# If you are going to write a long comment, you don't have to put # in the beginning of each line
# you can use the following option, which is also very useful if you are going to copy and paste
# some long text
'''
This text is in a comment
So is this text
Text text text text
Comment comment comment
'''

'\nThis text is in a comment\nSo is this text\nText text text text\nComment comment comment\n'

## Python and Variables

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [9]:
x = 1
y = 3.4
z = 'UMBC'
show = "Game of Thrones"
Answer1 = True
Answer2 = False

In [4]:
print(x)

1

In [5]:
print(y)

3.4

In [6]:
print(z)

UMBC

In [7]:
print(show)

Game of Thrones

In [10]:
print(Answer1)

True

In [11]:
print(Answer2)

False

Note that 
x is an integer,
y is a float,
z and show are strings, and 
Answer1 and Answer2 are Booleans.

In [12]:
# Variables do not need to be declared with any particular type and can even change type after they have been set.
x = 1
x = 3.4125415
x = "Data Science"
print(x)

Data Science

In [13]:
# you can learn variables types with the type() module
type(x)

str

In [16]:
# A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
# Rules for Python variables:
# [1] A variable name must start with a letter or the underscore character;
# [2] A variable name cannot start with a number;
# [3] A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ); and
# [4] Variable names are case-sensitive (age, Age and AGE are three different variables)

In [17]:
# you can define multiple variables at once
y, z, asd = 100, 200.124, "Maryland"
print(y)
print(z)
print(asd)

100
200.124
Maryland

In [18]:
var1 = 'This is a String'

In [19]:
var2 = "This is also a String"  # Did you see the difference between this command and previouse one?

In [20]:
# what happens if we add them?
var1+var2

'This is a StringThis is also a String'

In [21]:
# what happens if we try this:
print(var1,'.',var2)

This is a String . This is also a String

In [22]:
var1, var2 = 1, 2

In [23]:
var1 / var2   # Regular division

0.5

In [24]:
var1 // var2  # Integer division – drop fraction

0

In [27]:
y = 100
x=y**2 # exponent 
print(x)

10000

In [29]:
y = 100.0
x=y**2 # exponent 
print(x)

10000.0

In [30]:
# Do you see the difference between the previous two lines?

In [28]:
# int and float results in float
1/2.0

0.5

In [36]:
#  Python can handle complex numbers as well
w = 3+4j
print(type(w))

<class 'complex'>

In [37]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 1.1e3
print(x)

1100.0

## CASTING

In [ ]:
# There may be times when you want to specify a type on to a variable.
# This can be done with casting

In [ ]:
# int() constructs an integer number from an integer literal, 
# a float literal (by rounding down to the previous whole number), 
# or a string literal (providing the string represents a whole number)

In [38]:
x = int(1)   
y = int(2.8) 
z = int("3") 
print(x,y,z)

1 2 3

In [ ]:
# float() constructs a float number from an integer literal, 
# a float literal or a string literal (providing the string represents a float or an integer)

In [39]:
x = float(1)    
y = float(2.8)   
z = float("3")   
w = float("4.2")
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [40]:
# str() constructs a string from a wide variety of data types, 
# including strings, integer literals and float literals

In [41]:
x = str("s1") 
y = str(2)    
z = str(3.0)
w = str('Python Rocks')
print(x,y,z,w)

s1 2 3.0 Python Rocks

### More About Strings

In [43]:
# Let's look at "w" more carefully, 
len(w)

12

In [44]:
print(w[0])

P

In [46]:
print(w[1])

y

In [48]:
print(w[6])

In [49]:
# There are so many great string functions in Python, which will be so useful for EDA
# for example: strip(), removes any whitespace from the beginning or the end:
Name1 = "Albert Einstein"
Name2 = " Albert Einstein"
Name3 = "  Albert Einstein   "
print(Name1.strip())
print(Name2.strip())
print(Name3.strip())

Albert Einstein
Albert Einstein
Albert Einstein

In [50]:
# The lower() method returns the string in lower case:
Name1 = "Albert Einstein"
print(Name1.lower())

albert einstein

In [51]:
# The upper() method returns the string in upper case:
Name1 = "Albert Einstein"
print(Name1.upper())

ALBERT EINSTEIN

In [53]:
# Another very useful method is replace()
# The replace() method replaces a string with another string:
prices = "$100, $200, $87, $500"
print(prices.replace("$", "€"))

€100, €200, €87, €500

In [54]:
prices = "$100, $200, $87, $500"
print(prices.replace("$", ""))

100, 200, 87, 500

In [55]:
#  Another super powerful method is split
# split() method splits the string into substrings if it finds instances of the separator:
prices = "$100, $200, $87, $500"
print(prices.split(","))

['$100', ' $200', ' $87', ' $500']

In [56]:
A_sentence = "I will go shopping today"
print(A_sentence.split(" "))

['I', 'will', 'go', 'shopping', 'today']

In [34]:
# If you try to combine a string and a number, Python will give you an error:
# If you need to combine a string and a number, then you'll need to convert numbers into strings
temperature = 74
z = "Baltimore"
print(z, 'is', str(temperature), "degrees Fahrenheit today.")

Baltimore is 74 degrees Fahrenheit today

#### Command-line String Input

In [58]:
# Python allows for command line input. That means we are able to ask the user for input.
# What we need is the input() method
print("Enter your name:")
x = input()
print("Hello", x)

Enter your name:
UMBC
Hello UMBC

## Python Operators

### Arithmetic Operators

In [64]:
x = 12.0
y = 2
addition = x+y
subtraction = x-y
multiplication = x*y
exponentitation = x**y
division = 12.4/y
floor_division = 12.4//y
modulus = 10%3
modulus2 = 10%3.0
print(addition, subtraction, multiplication, exponentitation, division, floor_division, modulus, modulus2)

14.0 10.0 24.0 144.0 6.2 6.0 1 1.0

In [62]:
#  Above, did you see the difference between division and floor division!

In [ ]:
# There are other types of operators like logical operators. We'll learn about them later.